{% extends 'kelola_album.html' %}
{% block content %}
  <div id="header-album-artist">
    <div class="album-page">
      <h2>Label Album & Song</h2>
      {% if not album_list %}
      <!-- Empty Album -->
      <div class="list-album one">
        <div style="display: flex;
        justify-content: center;
        align-items: center;
        height: 90%;">
          <h1>Anda belum memiliki album</h1>
        </div>
      </div>
      {% else %}
      <!-- Avail Album -->
      <div class="album-list-two" style="
        height: 600px;
        width: 50%;
        border-radius: 20px;
        border-style: none;
        background-color: rgba(255, 255, 255, 0.3);
        box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.5);
        padding-top: 50px;
        margin-bottom: 50px;
        ">
        <!-- Title -->
        <div style="display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 30px;
          ">
          <h3>List Album</h3>
        </div>
        <!-- Album List -->
        <div
        style="overflow-y: auto;
        height: 70%;
        display: flex; 
        justify-content: center;
        margin-bottom: 30px;">
        <table >
          <thead>
            <tr>
              <th>Judul</th>
              <th>Jumlah Lagu</th>
              <th>Total Durasi</th>
              <th>Action</th>
            </tr>
          </thead>
          <div>
          <tbody>
            {% for album in album_list %}
          <tr>
            <td>{{album.0}}</td>
            <td>{{album.1}}</td>
            <td>{{album.2}}</td>
            <td>
            <form action="{% url 'main:album_detail' album.0 %}" method="get">
                <button type="submit">Lihat Daftar Lagu</button>
            </form>
            <form action="{% url 'main:delete_album' album.0 %}" method="get">
                <button type="submit">Hapus</button>
            </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        </table>
        </div>
      
      </div>
      {% endif %}
    </div>
  </div>
<script type="text/javascript" src="js/main.js"></script>
{% endblock %}